*{
    margin: 0;
    padding: 0;
}

title{
    font-size: 35px;
    margin-bottom: 30px;
    color: #fff;
}

.box{
    
    text-align: center;
}

.box-input{
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-url{
    padding: 12px 20px;
    text-align: center;
    outline: transparent;
    width: 40%;
    border-radius: 50px;
    font-size: 20px;
    color: #1e272e;
}

.btn{
    padding: 15px 20px;
    width: 170px;
    margin-left: 10px;
    border-radius: 50px;
    background-color: #ffd32a;
    font-size: 20px;
    color: #1e272e; 
}

.btn:hover{
    transition: .5s;
    background-color: #fac800;
}

